.estructura {
    display: flex;
    width: 500px;
    height: 300px;
}

.cuadrado{
    width: 200px;
    height: 200px;
    border: solid;
    margin: 10px;
}

#cuadrado-1 {
    background-color: pink;
    opacity: 0.5;
}

#cuadrado-2{
    background-color: blue;
    opacity: 0.5;
}

#cuadrado-3{
    background-color: green;
    opacity: 0.5;
}

#cuadrado-4{
    background-color: yellow;
    opacity: 0.5;
}

